<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>PC Cardinal - Elérhetőség</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">
            <img src="/resources/logo.jpeg" width="400" height="100" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">Rólunk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Szolgáltatások</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Termékek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kapcsolat</a>
                </li>
            </ul>            
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
        <div class="container">
            <span class="navbar-text ml-auto">Készítette: Víg Szabolcs, Strom Zsolt</span>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="/resources/computer_birb.jpeg" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Support</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac molestie ex. Morbi laoreet turpis a maximus porta. Pellentesque fermentum eu quam ac pulvinar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/resources/birb.jpeg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">PC building</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac molestie ex. Morbi laoreet turpis a maximus porta. Pellentesque fermentum eu quam ac pulvinar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="/resources/service.jpeg" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Parts service</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac molestie ex. Morbi laoreet turpis a maximus porta. Pellentesque fermentum eu quam ac pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
        <div class="container">
            <span class="navbar-text ml-auto">Készítette: Víg Szabolcs, Strom Zsolt</span>
        </div>
    </nav>
    
    <script src="/js/script.js"></script>
</body>
</html>



